In [6]:
import math
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df = pd.read_csv('flights.csv')

In [8]:
df.sample(5)

,year,month,day,dep_delay,arr_delay,origin,dest,flight,tailnum,distance,air_time,carrier,name,date
178732,2013,4,15,-2.0,-16.0,EWR,BDL,5670,N13968,116,25.0,EV,ExpressJet Airlines Inc.,2013-04-15
42310,2013,10,17,0.0,-25.0,LGA,BGR,5309,N720EV,378,51.0,EV,ExpressJet Airlines Inc.,2013-10-17
281092,2013,8,2,-7.0,-7.0,EWR,FLL,5,N715JB,1065,153.0,B6,JetBlue Airways,2013-08-02
85181,2013,12,3,2.0,-10.0,EWR,MDW,485,N229WN,711,113.0,WN,Southwest Airlines Co.,2013-12-03
29925,2013,10,3,-4.0,-13.0,JFK,PWM,108,N228JB,273,45.0,B6,JetBlue Airways,2013-10-03

In [9]:
df.dtypes

year           int64
month          int64
day            int64
dep_delay    float64
arr_delay    float64
origin        object
dest          object
flight         int64
tailnum       object
distance       int64
air_time     float64
carrier       object
name          object
date          object
dtype: object

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336776 entries, 0 to 336775
Data columns (total 14 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   year       336776 non-null  int64
 1   month      336776 non-null  int64
 2   day        336776 non-null  int64
 3   dep_delay  328521 non-null  float64
 4   arr_delay  327346 non-null  float64
 5   origin     336776 non-null  object
 6   dest       336776 non-null  object
 7   flight     336776 non-null  int64
 8   tailnum    334264 non-null  object
 9   distance   336776 non-null  int64
 10  air_time   327346 non-null  float64
 11  carrier    336776 non-null  object
 12  name       336776 non-null  object
 13  date       336776 non-null  object
dtypes: float64(3), int64(5), object(6)
memory usage: 36.0+ MB

In [11]:

# Identify numerical columns
numerical_columns = df.select_dtypes(include=['int64', 'float64']).columns.tolist()
print("Numerical columns:", numerical_columns)

# Check missing values in numerical columns specifically
print("\nMissing values in numerical columns:")
for col in numerical_columns:
    missing_count = df[col].isnull().sum()
    if missing_count > 0:
        print(f"{col}: {missing_count} missing values ({missing_count/len(df)*100:.2f}%)")

Numerical columns: ['year', 'month', 'day', 'dep_delay', 'arr_delay', 'flight', 'distance', 'air_time']

Missing values in numerical columns:
dep_delay: 8255 missing values (2.45%)
arr_delay: 9430 missing values (2.80%)
air_time: 9430 missing values (2.80%)

In [12]:
# Impute missing values in numerical columns with median
print("Before imputation - Missing values:")
print(df[numerical_columns].isnull().sum())

# Create a copy of the dataframe to preserve original data
df_imputed = df.copy()

# Impute missing values with median for each numerical column
for col in numerical_columns:
    if df_imputed[col].isnull().sum() > 0:
        median_value = df_imputed[col].median()
        df_imputed[col] = df_imputed[col].fillna(median_value)
        print(f"Imputed {col} with median: {median_value}")

print("\nAfter imputation - Missing values:")
print(df_imputed[numerical_columns].isnull().sum())

Before imputation - Missing values:
year            0
month           0
day             0
dep_delay    8255
arr_delay    9430
flight          0
distance        0
air_time     9430
dtype: int64
Imputed dep_delay with median: -2.0
Imputed arr_delay with median: -5.0
Imputed air_time with median: 129.0

After imputation - Missing values:
year         0
month        0
day          0
dep_delay    0
arr_delay    0
flight       0
distance     0
air_time     0
dtype: int64