In [7]:
import math
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
df = pd.read_csv('flights.csv')

In [9]:
df.sample(5)

,year,month,day,dep_delay,arr_delay,origin,dest,flight,tailnum,distance,air_time,carrier,name,date
82948,2013,11,30,-14.0,-41.0,LGA,MCO,299,N709JB,950,132.0,B6,JetBlue Airways,2013-11-30
177682,2013,4,14,-2.0,8.0,EWR,ORD,3697,N539MQ,719,126.0,MQ,Envoy Air,2013-04-14
307702,2013,8,30,-3.0,-30.0,LGA,MSP,2119,N341NW,1020,138.0,DL,Delta Air Lines Inc.,2013-08-30
86505,2013,12,4,14.0,4.0,JFK,SYR,316,N187JB,209,45.0,B6,JetBlue Airways,2013-12-04
903,2013,1,2,5.0,-9.0,EWR,PHX,908,N406UA,2133,299.0,UA,United Air Lines Inc.,2013-01-02