In [2]:
import math
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('flights.csv')

In [4]:
df.sample(5)

,year,month,day,dep_delay,arr_delay,origin,dest,flight,tailnum,distance,air_time,carrier,name,date
75913,2013,11,22,34.0,32.0,EWR,BNA,1746,N231WN,748,125.0,WN,Southwest Airlines Co.,2013-11-22
58194,2013,11,3,9.0,5.0,EWR,SFO,617,N573UA,2565,345.0,UA,United Air Lines Inc.,2013-11-03
324148,2013,9,17,11.0,17.0,LGA,MIA,1256,N3JUAA,1096,147.0,AA,American Airlines Inc.,2013-09-17
47278,2013,10,22,10.0,2.0,JFK,SAN,67,N3AEAA,2446,329.0,AA,American Airlines Inc.,2013-10-22
29169,2013,10,3,-6.0,3.0,JFK,SFO,15,N508JB,2586,353.0,B6,JetBlue Airways,2013-10-03

In [6]:
df.info()# Identify numerical columns
numerical_columns = df.select_dtypes(include=['int64', 'float64']).columns.tolist()
print("Numerical columns:", numerical_columns)

# Check missing values in numerical columns specifically
print("\nMissing values in numerical columns:")
for col in numerical_columns:
    missing_count = df[col].isnull().sum()
    if missing_count > 0:
        print(f"{col}: {missing_count} missing values ({missing_count/len(df)*100:.2f}%)")

Numerical columns: ['year', 'month', 'day', 'dep_delay', 'arr_delay', 'flight', 'distance', 'air_time']

Missing values in numerical columns:
dep_delay: 8255 missing values (2.45%)
arr_delay: 9430 missing values (2.80%)
air_time: 9430 missing values (2.80%)

In [5]:
# Impute missing values in numerical columns with median
print("Before imputation - Missing values:")
print(df[numerical_columns].isnull().sum())

# Create a copy of the dataframe to preserve original data
df_imputed = df.copy()

# Impute missing values with median for each numerical column
for col in numerical_columns:
    if df_imputed[col].isnull().sum() > 0:
        median_value = df_imputed[col].median()
        df_imputed[col] = df_imputed[col].fillna(median_value)
        print(f"Imputed {col} with median: {median_value}")

print("\nAfter imputation - Missing values:")
print(df_imputed[numerical_columns].isnull().sum())

Before imputation - Missing values:
year            0
month           0
day             0
dep_delay    8255
arr_delay    9430
flight          0
distance        0
air_time     9430
dtype: int64
Imputed dep_delay with median: -2.0
Imputed arr_delay with median: -5.0
Imputed air_time with median: 129.0

After imputation - Missing values:
year         0
month        0
day          0
dep_delay    0
arr_delay    0
flight       0
distance     0
air_time     0
dtype: int64