In [1]:
import math
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('flights.csv')

In [3]:
df.sample(5)

,year,month,day,dep_delay,arr_delay,origin,dest,flight,tailnum,distance,air_time,carrier,name,date
27382,2013,10,1,-6.0,-35.0,EWR,PHX,533,N817UA,2133,272.0,UA,United Air Lines Inc.,2013-10-01
98682,2013,12,17,89.0,97.0,EWR,DSM,4543,N17196,1017,152.0,EV,ExpressJet Airlines Inc.,2013-12-17
289205,2013,8,10,5.0,22.0,EWR,DEN,1622,N17719,1605,236.0,UA,United Air Lines Inc.,2013-08-10
89773,2013,12,8,-4.0,-12.0,LGA,IAH,559,N403UA,1416,219.0,UA,United Air Lines Inc.,2013-12-08
279502,2013,7,31,0.0,8.0,JFK,CVG,3075,N645MQ,589,97.0,MQ,Envoy Air,2013-07-31