In [2]:
import math
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('flights.csv')

In [4]:
df.sample(5)

,year,month,day,dep_delay,arr_delay,origin,dest,flight,tailnum,distance,air_time,carrier,name,date
75913,2013,11,22,34.0,32.0,EWR,BNA,1746,N231WN,748,125.0,WN,Southwest Airlines Co.,2013-11-22
58194,2013,11,3,9.0,5.0,EWR,SFO,617,N573UA,2565,345.0,UA,United Air Lines Inc.,2013-11-03
324148,2013,9,17,11.0,17.0,LGA,MIA,1256,N3JUAA,1096,147.0,AA,American Airlines Inc.,2013-09-17
47278,2013,10,22,10.0,2.0,JFK,SAN,67,N3AEAA,2446,329.0,AA,American Airlines Inc.,2013-10-22
29169,2013,10,3,-6.0,3.0,JFK,SFO,15,N508JB,2586,353.0,B6,JetBlue Airways,2013-10-03

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336776 entries, 0 to 336775
Data columns (total 14 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   year       336776 non-null  int64
 1   month      336776 non-null  int64
 2   day        336776 non-null  int64
 3   dep_delay  328521 non-null  float64
 4   arr_delay  327346 non-null  float64
 5   origin     336776 non-null  object
 6   dest       336776 non-null  object
 7   flight     336776 non-null  int64
 8   tailnum    334264 non-null  object
 9   distance   336776 non-null  int64
 10  air_time   327346 non-null  float64
 11  carrier    336776 non-null  object
 12  name       336776 non-null  object
 13  date       336776 non-null  object
dtypes: float64(3), int64(5), object(6)
memory usage: 36.0+ MB

In [7]:
df.describe

<bound method NDFrame.describe of         year  month  day  dep_delay  arr_delay origin dest  flight tailnum  \
0       2013      1    1        2.0       11.0    EWR  IAH    1545  N14228
1       2013      1    1        4.0       20.0    LGA  IAH    1714  N24211
2       2013      1    1        2.0       33.0    JFK  MIA    1141  N619AA
3       2013      1    1       -1.0      -18.0    JFK  BQN     725  N804JB
4       2013      1    1       -6.0      -25.0    LGA  ATL     461  N668DN
...      ...    ...  ...        ...        ...    ...  ...     ...     ...
336771  2013      9   30        NaN        NaN    JFK  DCA    3393     NaN
336772  2013      9   30        NaN        NaN    LGA  SYR    3525     NaN
336773  2013      9   30        NaN        NaN    LGA  BNA    3461  N535MQ
336774  2013      9   30        NaN        NaN    LGA  CLE    3572  N511MQ
336775  2013      9   30        NaN        NaN    LGA  RDU    3531  N839MQ

        distance  air_time carrier                    name        date
0           1400     227.0      UA   United Air Lines Inc.  2013-01-01
1           1416     227.0      UA   United Air Lines Inc.  2013-01-01
2           1089     160.0      AA  American Airlines Inc.  2013-01-01
3           1576     183.0      B6         JetBlue Airways  2013-01-01
4            762     116.0      DL    Delta Air Lines Inc.  2013-01-01
...          ...       ...     ...                     ...         ...
336771       213       NaN      9E       Endeavor Air Inc.  2013-09-30
336772       198       NaN      9E       Endeavor Air Inc.  2013-09-30
336773       764       NaN      MQ               Envoy Air  2013-09-30
336774       419       NaN      MQ               Envoy Air  2013-09-30
336775       431       NaN      MQ               Envoy Air  2013-09-30

[336776 rows x 14 columns]>